{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} by Kristen{% endblock %}

{% block content %}
  <article class="container">
    <div class="row quicksand">
      <div class="col-sm-3">
          <img src="../img/{{ slug }}.jpg" alt="" class="img-fluid mb-4">
          <p>{{ art }}</p>
      </div>
      <div class="col-sm-9">
        <h1>{{ name }}</h1>
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}