{% extends '_templates/base.njk' %}

{% block page_title %}Characters{% endblock %}

{% block page_description %}I'll fill this in later{% endblock %}

{% block content %}
<article class="container quicksand">
  <h1>Characters</h1>
  <p>I'll fill this in later.</p>
</article>
{% endblock %}