{% extends '_templates/base.njk' %}

{% block page_title %}Home Page{% endblock %}

{% block page_description %}Home page for Worlds Beyond Number. Access the campaign links here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 quicksand">
     <p class="center">Worlds Beyond Number is a narrative-play, audio fiction multiverse created by and starring titans of tabletop Brennan Lee Mulligan, Erika Ishii, Aabria Iyengar, and Lou Wilson, designed by Taylor Moore at Fortunate Horse.</p>
     <p class="center">It is an independent, creator-owned podcast about playing games and making up stories with your friends. Across genres, across worlds, from immersive, years-long cinematic epics to wild, chaotic one-shots, the possibilities are… a lot.</p>
     <h1 class="center">Campaigns</h1>
      {% for post in campaigns.campaigns %}
      <h3 id="campaigns"><a href="campaigns/{{ post.slug }}.html" class="btn btn-lg btn-outline-warning col-6">{{ post.name }}</a></h3>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}