{% extends '_templates/base.njk' %}

{% block page_title %}Home Page{% endblock %}

{% block page_description %}Home page for Worlds Beyond Number. Access the campaign links here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 quicksand">
     <h1 class="center">Campaigns</h1>
      {% for post in campaigns.campaigns %}
      <h3 id="campaigns"><a href="campaigns/{{ post.slug }}.html" class="btn btn-lg btn-outline-warning col-6">{{ post.name }}</a></h3>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}