/* jumbotron */

#jumbo {
  background: url(../img/wbn-header.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
}

.text {
  color: white;
  margin-top: 50%;
  text-align: right;
}